@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

body, html {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Playfair Display';
    text-align: center;

    padding-top: 15em;
    padding-bottom: 15em; 

    background: url('../img/background_mountain_min_v2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

button {
    font-family: 'Playfair Display';
    font-size: 2.0rem;
    color: white;
    background-color: gray;
    border-color: white;
}

section.Counter, section.Names {
    h1 {
        color: white;
        letter-spacing: 0.5rem;
        padding-top: 6em;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: normal;
        font-size: 2.5rem;
    }

    h2 {
        color: white;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: normal;
        font-size: 2.0rem;
    }

    p {
        color: white;
        font-size: 1.2rem;
        margin-bottom: 0;
        text-align: center;
    }
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
/*
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}
*/

// Mobile screens
@media only screen and (max-width: 900px) {
    body {
        padding-top: 10em;
        padding-bottom: 21em; 
    }

    h1 {
        padding-top: 1em;
    }
}