@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

body, html {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Playfair Display';
    text-align: center;

    padding-top: 15em;
    padding-bottom: 15em; 

    background: url('../img/background_mountain_min_v2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

section.Counter, section.Names {
    h1 {
        color: white;
        letter-spacing: 0.5rem;
        padding-top: 6em;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: normal;
        font-size: 2.5rem;
    }

    h2 {
        color: white;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: normal;
        font-size: 2.0rem;
    }

    p {
        color: white;
        font-size: 1.2rem;
        margin-bottom: 0;
        text-align: center;
    }
}

// Mobile screens
@media only screen and (max-width: 900px) {
    body {
        padding-top: 10em;
        padding-bottom: 21em; 
    }

    h1 {
        padding-top: 1em;
    }
}